*, *::before, *::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
}

body {

  height: 100vh;
  background: linear-gradient(to right, #810383,#7b4b8776);
  
}
#ProfileInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
  text-align: center;
  justify-content: center;
}
#bioID {
  margin-top: 5vh;
  width: 500px;
  height: 250px;
  padding: 20px;
  overflow-y: scroll;
  border: 3px solid rgb(93, 50, 104);
  word-wrap: break-word;
  padding: 10px;
  background-color: #a566b3;
  color: white;
  text-shadow: 0.8px 0.8px 0.8px #ca40d4;
  box-shadow: 4.4px 4.4px 4.4px #d341f0;
  border-radius: 20px;
}

#genderID {
  margin-top: 5vh;
}
